name: Publish new plugin version
on: 
  push:
    branches:
      - release

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1

      - name: Create credentials file
        run: echo $PUB_CREDENTIALS > ~/pub-credentials.json
        env:
          PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}

      - name: Add credentials to Dart folder
        run: |
          mkdir -p ${XDG_CONFIG_HOME:-${HOME:-default}}/dart
          touch ${XDG_CONFIG_HOME:-${HOME:-default}}/dart/pub-credentials.json
          cp ~/pub-credentials.json ${XDG_CONFIG_HOME:-${HOME:-default}}/dart/pub-credentials.json
        env:
          PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}

      - name: Publish
        run: dart pub publish --force

